<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    
    <title> Trace Together</title>
    <link rel="shortcut icon" href="/shield1.png" type="image/x-icon">
    
	<script src="https://kit.fontawesome.com/6090ee786b.js" crossorigin="anonymous"></script>
	
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@700&family=Fredericka+the+Great&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,600&display=swap" rel="stylesheet">


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
   <link rel="stylesheet" href="css/bootstrap-social.css">

   <link rel="stylesheet" href="css/styles.css">
	<link rel="stylesheet" href="css/styles1.css">
    
   
	
    </head>
    <body>
        <div class="wrapper active">
            <div class="top_navbar">
              <div class="hamburger">
                 <div class="hamburger__inner">
                   <div class="one"></div>
                   <div class="two"></div>
                   <div class="three"></div>
                 </div>
              </div>
              <div class="menu">
                <div class="logo"><a href="/home"style="text-decoration: none; color: inherit";>
                  TRACE TOGETHER
                  </a>
                </div>
                <div class="right_menu">
                  <ul>
                    <li><i class="fas fa-user"></i>
                      
                    
                    <div class="profile_dd">
                      <a href="/profile" style="text-decoration:none ;" > <div class="dd_item">Profile</div></a>
                     <a href="/Survey" style="text-decoration:none ;"><div class="dd_item">Survey</div></a> 
                     
                      <a href="/logout" style="text-decoration:none ;"> <div class="dd_item">Logout</div></a>
                   </div>
                  </li>
                  </ul>
                </div>
              </div>
            </div>
              
            <div class="main_container">
                <div class="sidebar">
                    <div class="sidebar__inner">
                      <div class="profile">
                        
                        <div class="profile_info">
                           <p>Welcome</p>
                           <p class="profile_name"><%=Name%> </p>
                        </div>
                      </div>
                      <ul>
                        <li>
                          <a href="/home"  style="text-decoration: none; ";>
                            <span class="icon"><i class="fas fa-home"></i></span>
                            <span class="title">Home</span>
                          </a>
                        </li>
                        <li>
                          <a href="/blog"  style="text-decoration: none; ";>
                            <span class="icon"><i class="fas fa-rss"></i></span>
                            <span class="title">Blog</span>
                          </a>
                        </li>
                       
                        <li>
                          <a href="/resources"  style="text-decoration: none; ";>
                            <span class="icon"><i class="fas fa-book-open"></i></span>
                            <span class="title">Analysis</span>
                          </a>
                        </li>
                        <li>
                          <a href="/contact"  style="text-decoration: none; ";>
                            <span class="icon"><i class="fas fa-phone-alt"></i></span>
                            <span class="title">Inquiry</span>
                          </a>
                        </li>
                        <li>
                          <a href="/about"  style="text-decoration: none; ";>
                            <span class="icon"><i class="fas fa-question-circle"></i></span>
                            <span class="title">About</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                </div>