<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    
        <title> Trace Together</title>
        <link rel="shortcut icon" href="/shield.png" type="image/x-icon">
	<link rel="stylesheet" href="styles.css">
	<script src="https://kit.fontawesome.com/6090ee786b.js" crossorigin="anonymous"></script>
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- SideBar-Menu CSS -->
    <link rel="stylesheet" href="css/styles.css">

	<!-- Demo CSS -->
	<link rel="stylesheet" href="css/styles1.css">
    
	
    </head>
    <body>
        