<%-include("partials/heading")%>


      <div class="container">
          
          	<header class="intro">
	<h1>About This Site</h1>
	
	</header>
          
          
        <dvi class="box"></dvi>
 
      </div>
  </div>
  
</div>	
    
    <%-include("partials/footer")%>