<%-include("partials/heading")%>


      <div class="container">
          
          	<header class="intro">
	<h1>About Us</h1>
	
	</header>
	<div class="about-section">
		
		<p>We are the Student of Chitkara University</p>
		<p>Currently Pursuing B Tech IT</p>
		<p>We had made this Project Together as a Team</p>
		<p>None of Us is as smart as all of us.</p>
	  </div>
	  <div class="whole">
	  <div class="headingAbout"><h2 style="text-align:center">Our Team</h2></div>
	  <div class="row">
		<div class="columnAbout">
		  <div class="cardAbout">
			<img src="/Me.jpeg" alt="Mayank"  style="width:100%">
			<div class="containerAbout">
			  <h2>Mayank Dahiya</h2>
			  <p class="title">Frontend+Backend</p>
			  <p>dahiyamayank0@gmail.com</p>
			  <p><button class="buttonAbout">Contact</button></p>
			</div>
		  </div>
		</div>
	  
		<div class="columnAbout">
		  <div class="cardAbout">
			<img src="/gurpreet.jpeg" alt="Gurpreet" style="width:100%">
			<div class="containerAbout">
			  <h2>Gurpreet Singh</h2>
			  <p class="title">Information Collector</p>
			  <p>gsingh1531.ca19@chitkara.edu.in</p>
			  <p><button class="buttonAbout">Contact</button></p>
			</div>
		  </div>
		</div>
		
		<div class="columnAbout">
		  <div class="cardAbout">
			<img src="/nishant.jpeg" alt="Nishant" style="width:100%">
			<div class="containerAbout">
			  <h2>Nishant Sharma</h2>
			  <p class="title">Designer</p>
			  <p>nishant1108.sharma@gmail.com</p>
			  <p><button class="buttonAbout">Contact</button></p>
			</div>
		  </div>
		</div>

		<div class="columnAbout">
			<div class="cardAbout">
			  <img src="/akshit.jpeg" alt="Nishant" style="width:100%">
			  <div class="containerAbout">
				<h2>Akshit Sharma</h2>
				<p class="title">Helping Hand</p>
				<p>Asharma1504.ca19@chitkara.edu.in</p>
				<p><button class="buttonAbout">Contact</button></p>
			  </div>
			</div>
		  </div>
	  </div>
	</div>
    <%-include("partials/footer")%>