<!DOCTYPE html>
<html>
<title>Admin</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/admin.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="shortcut icon" href="/admin1.png" style="border-radius:1rem ;">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
.w3-sidenav a,.w3-sidenav h4 {font-weight:bold}
</style>
<body class="w3-light-grey w3-content" style="max-width:1600px">


<nav class="w3-sidenav w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;"><br>
  <div class="w3-container">
    
    <img src="/admin.jpg" style="width:100%;" class="w3-round"><br><br>
    <h4 class="w3-padding-0"><b>Admin</b></h4>
    
  </div>
  <a href="/adminMain" class="w3-padding w3-text-teal">DASHBROAD</a> 
  <a href="/adminChild" class="w3-padding">DETAIL</a> 
  <a href="/deleteBlog" class="w3-padding " >DELETE OR DETAIL OF BLOG</a>
  <a href="/addDoctor" class="w3-padding">ADD DOCTOR</a> 
  <a href="/addTrainer" class="w3-padding">ADD TRAINER</a>
  <a href="/addCoach" class="w3-padding">ADD NUTRITION COACH</a>
  <a href="/addBlog" class="w3-padding">ADD BLOG DETAIL</a>
  <a href="/" class="w3-padding logout">LOGOUT</a>
 
</nav>


<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu"></div>


<div class="w3-main" style="margin-left:300px">

 
  <header class="w3-container">
   
    <h1><b>Administration</b></h1>
    
  </header>
  
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
     
      <div class="w3-container w3-white">
        <p><b><%= adminName %>  </b></p>
        <br>
        <p><%= adminUsername %>  </p>
      </div>
    </div>
    <div class="change">
      <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Change Admin</button>

<div id="id01" class="modal">
  
  <form class="modal-content animate" action="/updateAdmin" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="img_avatar2.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="name"><b>Name</b></label>
      <input type="text" placeholder="Enter Name" name="name" required>
      <label for="oldUname"><b>Old User Id</b></label>
      <input type="text" placeholder="Enter Old Username" name="OldUsername" required>
      <label for="uname"><b>New User Id</b></label>
      <input type="text" placeholder="Enter Username" name="NewUsername" required>
      <label for="oldPassword"><b>Old Password</b></label>
      <input type="password" placeholder="Enter Old Password" name="opsw" required>
      <label for="psw"><b>New Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
      
      <button type="submit">Update</button>
     
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      
    </div>
  </form>
</div>

</div>

<script>
  window.onload = function() {
   
    if(!window.location.hash) {
        
        window.location = window.location + '#loaded';
       
        window.location.reload();
    }
    
}
  var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

function w3_open() {
    document.getElementsByClassName("w3-sidenav")[0].style.display = "block";
    document.getElementsByClassName("w3-overlay")[0].style.display = "block";
}
 
function w3_close() {
    document.getElementsByClassName("w3-sidenav")[0].style.display = "none";
    document.getElementsByClassName("w3-overlay")[0].style.display = "none";
}
</script>

</body>
</html>
