    body {
        background-color: #fff6e5;

        font-family: Verdana;
        text-align: center;
    }
.heading{
    color: rgb(0, 0, 0);
    
}
    /* Styling the Form (Color, Padding, Shadow) */
    form {
        background-color: rgb(255, 255, 255);
        max-width: 800px;
        margin: 50px auto;
        padding: 50px 20px;
        box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
        border: #fdd995;
        
        border-style: solid;
  border-width: 3px;
        ;
    }

    /* Styling form-control Class */
    .form-control {
        text-align: left;
        margin-bottom: 25px;
    }

    /* Styling form-control Label */
    .form-control label {
        display: block;
        margin-bottom: 10px;
    }

    /* Styling form-control input,
    select, textarea */
    .form-control input,
    .form-control select,
    .form-control textarea {
        border: 1px solid rgb(238, 114, 31);
        border-radius: 2px;
        font-family: inherit;
        padding: 10px;
        display: block;
        width: 95%;
    }

    /* Styling form-control Radio
    button and Checkbox */
    .form-control input[type="radio"],
    .form-control input[type="checkbox"] {
        display: inline-block;
        width: auto;
    }

    /* Styling Button */
    button {
        background-color: #be4810c5;
        border: 1px solid rgb(2, 3, 59);
        border-radius: 2px;
        font-family: inherit;
        font-size: 21px;
        display: block;
        width: 100%;
        margin-top: 50px;
        margin-bottom: 20px;
    }
.inner{
    margin: 70px;
}
.submit:hover{
background-color: black;
color: #fdd995;
}