@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
*{ margin: 0; padding: 0;}
body{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;

-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  background: #161625!important;
  
}


.intro{
   
   padding: 40px 20px;
   color: rgb(83, 83, 102);
   margin-bottom: 15px;
   line-height: 1.5;
   text-align: center;
   font-family: 'Fredericka the Great', cursive;
  
   
}


.action{
   text-align: center;
   display: block;
   margin-top: 20px;
}

a.btn {
  text-decoration: none;
  color: #666;
   border: 2px solid #666;
   padding: 10px 15px;
   display: inline-block;
   margin-left: 5px;
}
a.btn:hover{
   background: #666;
   color: #fff;
    transition: .3s;
-webkit-transition: .3s;
}
.btn:before{
  font-family: FontAwesome;
  font-weight: normal;
  margin-right: 10px;
}




main{
  background: #161625!important;
  padding: 20px;
  
}

article li{
   color: #444;
   font-size: 15px;
   margin-left: 33px;
   line-height: 1.5;
   padding: 5px;
}
article h1,
article h2,
article h3,
article h4,
article p{
   padding: 14px;
   color: #333;
}
article p{
   font-size: 15px;
    line-height: 1.5;
}
 
@media only screen and (min-width: 720px){
    main{
      max-width: 720px;
      margin-left: auto;
      margin-right: auto; 
      padding: 24px;
    }


}


/* Syntax Highlighter*/

pre.prettyprint {
	padding: 15px !important;
   margin: 10px;
	border: 0 !important;
  background: #f2f2f2;
  overflow: auto;
}

.source {
	white-space: pre;
	overflow: auto;
	max-height: 400px;
}
code{
    border:1px solid #ddd;
    padding: 2px;
    border-radius: 2px;
}
.text{
   color: #ddd;
   font-size: medium;
}
.text1{
   margin: 3rem;
}
#chart_div{
   margin-left: 20rem;
   
}
.card{
   background-color: #141422;
}

.sign{
   font-size: medium;
   padding-left: 2rem;
}
.data{
   font-size: 1.3rem;
   font-family: 'Yomogi', cursive;
}
.green{
   background-color:rgba(2, 65, 2, 0.219);
   color: green;
}
.red{
   background-color: rgba(255, 0, 0, 0.11);
   color: red;
}
.blue{
   background-color: rgba(0, 0, 255, 0.199);
   color: blue;
}
.grey{
   background-color: rgba(128, 128, 128, 0.164);
   color: grey;
}